
    .title1 {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: var(--color-grey-0);
    }
    .title2 {
        font-weight: 400;
        font-size: 1.2rem;
        color: var(--color-grey-0);
    }
    .title3 {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .placeholderText {
        font-weight: 400;
        font-size: 1.624rem;
        line-height: 2.639rem;
    }
    .buttonText {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.639rem;
    }
